@import './Parcials/login';

*{
    margin: 0;
    padding: 0;
}

header{

    
    .nav{
        display: flex;
        padding-top: 0rem;
        background-color: rgba($color: black, $alpha: 0.7);
    }


    h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        color: antiquewhite;
        text-shadow: 3px 5px black;
        padding-top: 5rem;
        
    }

    background-image: url(../Imagenes/Libros.jpg);
    height: 23rem;

    .cart{
        position: relative;
        background-color: white;
        color: black;
        font-size: 18px;
        border-radius: 4px;
    }

    .cantidad{
        position: absolute;
        top: 7px;
        right: -5px;
        font-size: 13px;
        background-color: red;
        color: white;
        padding: 3px;
        border-radius: 3px;
    }
    
}

.img-wrapper{
    max-width: 100%;
    height: 20em;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.text-center{
    margin-top: 25px;
}

.HomeBtn, .btn-secondary{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 6px;
    border-radius: 3px;
    margin-top: 13px;
}

.comprar, .removerTodo{
    background-color: rgba(0, 175, 0, 0.74);
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.774);
    font-size: 17px;
    font-weight:490;
    margin: 5px;
    padding: 6px;
    border-radius: 3px;
}

.removerTodo{
    background-color: red;
}

.bi-bookmark-x{
    font-size: 30px;
    color: red;
}

.carritoDeCompras{
    display: grid;
    grid-template-columns: (1,320px);
    justify-content: center;
}

.aPagar{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.item{
    width: 350px;
    display: flex;
    margin: 8px;
    border: 1.7px solid black;
    border-radius: 5px;


    .Titulo{
        width: 240px;
        display: flex;
        justify-content: space-between;
    }

    .TituloYP{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .itemPrecio{
        font-size: 20px;
        height: 30px;
        background-color: rgba(36, 35, 35, 0.904);
        color: rgb(255, 255, 255);
        border-radius: 3px;
    }
    
    .title{
        font-size: 25px;
        font-weight:normal;
        margin: 5px;
    }
    
}





